*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
}
.d-flex{
    display: flex;
    justify-content: space-around;
}
.container{
    flex-direction: column;
}
.container > *{
    flex: 1 1 100%;
}
.form{
    padding: 3rem;
    background: linear-gradient(to right, #F1FFFE, #FEFAF0);
}
input{
    padding: 0.5rem;
    margin-left: 1rem;
}
.btn{
    padding: 0.5rem;
}
.btn:hover{
    cursor: pointer;
}
.result{
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.image-container{
    width: 20rem;
    height: 20rem;
    margin: 1.5rem;
}
img{
    height: 100%;
    width: 100%;
}